* {
  font-family: "Montserrat";
}
body {
  margin-left: 0px;
}

.page-header-navigation {
  width: 1280px;
}

.page-header-menu {
  text-align: center;
  margin: 25.5px;
}

.page-header-menu-link {
  color: #ff0000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}
.background-image {
  background-image: url(../Img/image\ 1.jpg);
  width: 1280px;
  height: 789px;
  left: 0px;
  margin-left: 0px;
  padding-right: 0px;
}
h1 {
  width: 1280px;
  text-align: center;
  padding-top: 48px;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  margin: 0px;
}
.main-paragraph-top {
  width: 1145px;
  height: 132px;
  left: 67.5px;
  top: 115px;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-left: 48px;
  padding-top: 38px;
  text-align: center;
  color: #373737;
}
.main-paragraph-bottom {
  color: #373737;
  width: 1145px;
  height: 216px;
  left: 67.5px;
  top: 275px;
  text-align: center;
  padding-left: 67.5px;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 28px;
}
.rectangle {
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  border-radius: 4px;
  background-color: #ff0000;
  margin: 66px 544.5px 42px 544.5px;
}
.button-text {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  padding: 18px 43.5px 17px 42.5px;
}
.footer-copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  padding: 82px 105px 29px 713px;
  color: #373737;
}
